# Arquivos de Ambiente Virtual e Segredos
.venv/
.env

# Arquivos compilados e cache do Python
__pycache__/
*.pyc
*.pyo

# Banco de dados e logs
*.db
*.log

# Arquivos gerados pela aplicação (PDFs de orçamento)
*.pdf

# Arquivos de relatório de testes
.coverage